.app-form {
    overflow: hidden;

    &-btn {
        background: #7F7FD5;
        background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
        background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
        width: 100%;
        letter-spacing: 0.25rem;
        font-weight: 600 !important;
    }

    &-input {
        padding: 0.65rem 1rem !important;

        &.has-icon {
            padding-left: 3.65rem !important;
            
            &.right {
                padding-right: 3.65rem !important;
            }
        }
        &.is-invalid {
            & ~ .field-inline {
                color: #dc3545;
            }
        }
        & ~ .field-inline {
            top: 0.45rem;
            font-size: 2rem;
            color: #ced4da;

            &.left {
                left: 0.45rem;
            }
            &.right {
                right: 0.5rem;
            }
        }
    }

    .alt-sign-in {
        h1 {
            color: #5f6363;
            overflow: hidden;

            span {
                background-color: var(--bs-body-bg);
                font-size: 0.8rem;
                top: -0.4rem;
                letter-spacing: 0.15rem;
                z-index: 1;
            }
        }
        h1:before, h1:after {
            position: absolute;
            top: 51%;
            overflow: hidden;
            width: 50%;
            height: 0.5px;
            content: '\a0';
            background-color: #ced4da;
        }
        h1:before {
            margin-left: -50%;
            text-align: right;
        }

        .logo-sign-in {
            border-radius: 50%;
            font-size: 2rem;
            color: #5f6363;

            &:hover {
                color: var(--bs-body-color);
            }
        }
    }
    
    .at-right {
        h2 {
            font-size: 1.8rem;
        }

        .form-redirect-link {
            color: #0e80fa;
            font-weight: 600;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .at-left {
        background-image: url('https://wallpaperaccess.com/full/7062960.jpg');
        height: 99.9vh;
        background-size: cover;
        background-position: center;

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(45deg,#8D334C,#CF6964);
            opacity: 0.5;
        }

        h2, p {
            z-index: 1;
        }
    }
}